.trending {
  background-color: rgb(243, 244, 250);
  width: 32%;
  float: left;
}

.trending > div {
  margin: 15px;
}

.trending > div > h1 {
  padding: 12px 0px;
  font-size: 28px;
  color: rgb(68, 67, 67);
  margin-bottom: 20px;
}

.trending-div {
  margin-bottom: 30px;
}

@media only screen and (max-width: 900px) {
  .trending {
    display: none;
  }
}
